# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Streamlit
.streamlit/

# Env / secrets
.env
*.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
*.log

# MySQL volume (אם תיצור מקומית)
mysql_data/
